{% extends 'base.html' %}

{% block header_text %}My Cargo Shipments{% endblock %}

{% block cargo_form %}{% endblock %}

{% block extra_content %}
  <h2>{{ owner.email }}'s cargo shipments</h2>
  <ul>
    {% for cargo in owner.list_set.all %}
      <li><a href="{{ cargo.get_absolute_url }}">{{ cargo.name }}</a></li>
    {% endfor %}
  </ul>
  <h2>Cargo shipments shared with {{ owner.email }}</h2>
  <ul>
    {% for cargo in owner.list_shared_with.all %}
      <li><a href="{{ cargo.get_absolute_url }}">{{ cargo.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}